:root {
    --vt-c-white: #fff;
    --vt-c-dark-green: #275742;
    --vt-c-carrot: #C95103;
    --vt-c-light-gray: #606462;
}
/* semantic colors for project / семантическая карта цветов */
:root {
    --color-background: var(--vt-c-white);
    --color-text: var(--vt-c-dark-green);
    --color-border: var(--vt-c-dark-green);
    --color-background-alt: var(--vt-c-dark-green);
    --color-text-alt: var(--vt-c-white);
    --color-indication: var(--vt-c-carrot);
    --color-sign: var(--vt-c-light-gray);
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif,
    Ubuntu;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}