#app {
  padding: 24px 40px 60px 40px;
  font-weight: normal;
}
  
a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}
  
h1 {
  font-weight: bold;
  font-size:32px;
}
h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
  
button {
  padding: 4px 7px;
  height: 40px; 
  background-color: var(--color-background);
  color: var(--color-text);
  border: 2px var(--color-border) solid;
  border-radius: 2px;
  cursor: pointer;
}
  
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
  